.post-list
  position relative
  padding-left 0
  .post-list-item
    padding-left 20px
    margin-bottom 40px
    list-style none
    // border-left 5px solid lightgray
  .article-info
    font-size 13px
  .article-entry
    font-size 14px
    .article-read-more
      font-family 'Electrolize', sans-serif
  .article-thumbnail img
    float left
    width 200px
    margin-right 10px

@media mq-mobile
  .post-list
    .post-list-item
      padding-left 8px
